tr {
  border: 1px solid #e4e4ef;
  border-top: 0px;
}

.MainTableCell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 6px 15px;
}

.MainTableCell > p {
  margin: 3px;
}

.SecondaryTableCell {
  display: none;
}

@media only screen and (min-width: 700px) {
  .SecondaryTableCell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 5px 15px;
  }

  .Quantity {
    display: none;
  }
}
