.button {
    width: 97px;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 4px;
    cursor: pointer;
}

.PrimaryButton {
    background-color: #605DEC;
    color: rgba(255, 255, 255, 0.87);
}

.PrimaryButton:hover {
    background-color: #344293;
    color: #FFF;
}

.SecondaryButton {
    background-color: #F9F9FB;
    color: rgba(0,0,0,0.87);
}

.SecondaryButton:hover {
    color: #605DEC;
}