table {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

table > thead {
  display: flex;
  width: 100%;
  border: 1px solid #e4e4ef;
  border-radius: 4px 4px 0 0;
}

tr {
  display: flex;
  width: 100%;
}

tr > th:last-child {
  border-left: 1px solid #e4e4ef;
}

tr > td:last-child {
  border-left: 1px solid #e4e4ef;
  justify-content: flex-end;
}

table > tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.SecondaryTableColumn {
  display: none;
}

.MainTableColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  width: 100%;
}

.TableBodyEmpty {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 700px) {
  .SecondaryTableColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    width: 50%;
  }
}
